.tag-container{
    width: 61px;
    height: 28px;
    background: #FEB29A;
    position: relative;
    margin-right: 8px;
    border-radius: 16px;
}

@font-face{
    font-family: 'Inter';
    src: url(../../Fonts/Inter/otf/Inter-Regular.otf) format('truetype');
}

.tag-name{
    position: relative;
    color: #344054;
    width: 37px;
    height: 20px;
    /* background-color: antiquewhite; */
    top: 4px;
    left: 12px;

    font-family: 'Inter';
    font-style: normal;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: center;
}