.tag-container{
    width: 61px;
    height: 28px;
    background: #FEB29A;
    position: relative;
    margin-right: 8px;
    border-radius: 16px;
}

.tag-name{
    position: relative;
    color: #344054;
    width: 37px;
    height: 20px;
    /* background-color: antiquewhite; */
    top: 4px;
    left: 12px;

    /*haven't import yet*/
    /*styleName: Text sm/Medium;*/
    font-family: Inter;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: center;
}