.game-list-container {
  position: relative;
  width: 1153px;
  height: 120px;
  margin-bottom: 8px;
  /* background-color: cornflowerblue; */
}

.game-list-box {
  position: absolute;
  left: 0%;
  right: 0%;
  top: 0%;
  bottom: 0%;
  background: #c5c5c5;
  border-radius: 15px;
}

.roww {
  position: absolute;
  top: 13.51px;
  left: 14px;
  bottom: 14.49px;
  width: 844px;
  height: 92px;
  
  display: grid;
  grid-template-columns: 183px 567px 94px;
  /* grid-template-columns: 183px 567px 42px 52px; */
  /* background-color: aquamarine; */
  /* content: "";
  clear: both; */
}

 .col1 {
  width: 160px;
  height: 92px;
  /* background-color: white; */
} 


.img-game{
  position: absolute;
  object-fit: cover;
  border-radius: 10px;
  width: 160px;
  height: 92px;
}

.col2 {
  width: 523px;
  height: 92px;
  /* background-color: rgb(207, 173, 173); */
}

.name-col2{
  position: absolute;
  width: 523px;
  height: 40.73px;
  margin-top: 16.51px;
  margin-bottom: 62.75px;
  background-color: #808080;
}

.game-name{
  width: 71px;
  height: 31.93px;
  /* background-color: coral; */
  margin-top: 5.5px;
  margin-bottom: 3.3px;
  margin-left: 10px;

  /*haven't import yet*/
  font-family: Inter;
  font-size: 24px;
  font-weight: 500;
  line-height: 29px;
  letter-spacing: 0em;
  text-align: left;
  color: white;
}

.tag-col2{
  position: relative;
  width: 268px;
  height: 28px;
  /* background-color: violet; */
  /* bottom: 16.83px; */
  margin-top: 61.7px;
  display: -webkit-flex;
  display: flex;
}

.col3 {
  width: 26px;/*star*/
  height: 92px;
  /* background-color: rgb(90, 63, 63); */

}