@font-face{
    font-family: 'Inter';
    src: url(../../Fonts/Inter/otf/Inter-Regular.otf) format('truetype');
  }

.title-steamuser{
    /* position: absolute; */
    /* width: 386px;
    height: 39px;
    left: 31px;
    top: 496px; */
    /* background-color: purple; */

    font-family: 'Inter';
    font-style: normal;
    font-size: 30px;
    font-weight: 500;
    line-height: 39px;
    letter-spacing: 0em;
    text-align: left;
    color: #FFFFFF;
}

.detail-steamuser{
    /* position: absolute; */
    /* width: 265px;
    height: 29px;
    left: 31px;
    top: 536px; */
    /* background-color: red; */

    font-family: 'Inter';
    font-style: normal;
    font-size: 21px;
    font-weight: 400;
    line-height: 29px;
    letter-spacing: 0em;
    text-align: left;
    color: #C4C4C4;
}

.circle1{
    /* position: absolute; */
    width: 250px;
    height: 250px;
    border-radius: 50%;
    top: 589px;
    left: 35px;
    background: #375885;
}

.circlename1{
    /* position: absolute; */
    width: 82px;
    height: 29px;
    /* background-color: sienna; */
    top: 614px;
    left: 119px;

    font-family: 'Inter';
    font-style: normal;
    font-size: 24px;
    font-weight: 400;
    line-height: 29px;
    letter-spacing: 0em;
    text-align: left;
    color: #FFFFFF;
}

.current-users{
    /* position: absolute; */
    /* width: 235px;
    height: 40px; */
    /* background-color: sienna; */
    top: 60px;
    left: 45px;
    /* top-14 left-[2.4em] */

    font-family: 'Inter';
    font-style: normal;
    font-size: 43px;
    font-weight: 600;
    line-height: 29px;
    letter-spacing: 0em;
    text-align: left;
    color: #FFFFFF;
}

.circle2{
    /* position: absolute; */
    width: 250px;
    height: 250px;
    border-radius: 50%;
    top: 589px;
    left: 328px;
    background: #375885;
}

.circlename2{
    /* position: absolute; */
    width: 56px;
    height: 29px;
    /* background-color: sienna; */
    top: 614px;
    left: 425px;

    font-family: 'Inter';
    font-style: normal;
    font-size: 24px;
    font-weight: 400;
    line-height: 29px;
    letter-spacing: 0em;
    text-align: left;
    color: #FFFFFF;
}

.peak-users{
    /* position: absolute; */
    /* width: 235px;
    height: 40px; */
    /* background-color: sienna; */
    /* top: 700px;
    left: 338px; */

    font-family: 'Inter';
    font-style: normal;
    font-size: 43px;
    font-weight: 600;
    line-height: 29px;
    letter-spacing: 0em;
    text-align: left;
    color: #FFFFFF;
}

/********************************circle*****************************************/

/* html,
body {
  height: 100%;
}

body {
  background: radial-gradient(ellipse at center, #fffeea 0%, #fffeea 35%, #b7e8eb 100%);
  overflow: hidden;
} */
.ocean-base{
    position: relative;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    background-color: aquamarine;
}

.ocean {
  height: 5%;
  width: 100%;
  position: absolute;
  bottom: 0px;
  /* left: 0; */
  background: #015871;
}

.wave1 {
  background: url(https://cdn.kcak11.com/codepen_assets/wave_animation/wave.svg) repeat-x;
  position: absolute;
  top: -198px;
  width: 6400px;
  height: 198px;
  animation: wave1 7s cubic-bezier(0.36, 0.45, 0.63, 0.53) infinite;
  transform: translate3d(0, 0, 0);
  object-fit: contain;
}

.wave1:nth-of-type(2) {
  top: -175px;
  animation: wave1 7s cubic-bezier(0.36, 0.45, 0.63, 0.53) -0.125s infinite, swell 7s ease -1.25s infinite;
  opacity: 1;
}

@keyframes wave1 {
  0% {
    margin-left: 0;
  }
  100% {
    margin-left: -1600px;
  }
}
@keyframes swell {
  0%,
	100% {
    transform: translate3d(0, -25px, 0);
  }
  50% {
    transform: translate3d(0, 5px, 0);
  }
}
.endWave{
	display:none;
}

/****************************************************************************/

.main{
    width:250px;
    height: 250px;
    border:1px solid #CCC;
    position:absolute;
    /* top:0; bottom:0; left:0;right:0; */
    margin:auto;
    border-radius:50%; 
  }
  
  .circle1{
    width: 20px;
    height:20px;
    background:white;
    border-radius:50%;
    position:absolute;
    top:0; bottom:0; left:0;right:0;
    overflow:hidden;
    margin:auto;
    animation: circle1 6s linear infinite;
  }
  
  @keyframes circle1{
    0%{
      transform:rotate(0deg)
                translate(-125px)
                rotate(0deg);
    
    }
    100%{
      transform:rotate(360deg)
                translate(-125px)
                rotate(-360deg);
    }
  }
  
  /****************************************************************************/

  /* * { margin:0; padding:0; background:#14162d;} */
.c-base{
    position: absolute;
}

.circulate .circle {
  width: 250px;
  height: 250px;
  margin: 0px -35px 30px;
  border-radius: 100%;
  border: 2px solid rgb(133, 133, 133);
  background: white;
  box-shadow: 0 2px 150px rgba(0, 0, 0, 0.2);
  background: linear-gradient(to left top, #23345d, #921664);
  position: relative;
  overflow: hidden;
  transform: translateZ(0); }

.circulate .wave {
  opacity: 0.4;
  position: absolute;
  top: 20%;
  left: 50%;
  background: rgba(15, 16, 35, 0.56);
  width: 200px;
  height: 250px;
  margin-left: -100px;
  margin-top: -55px;
  transform-origin: 50% 48%;
  border-radius: 43%;
  animation: humming 2.5s infinite linear; }

.circulate .wave._three {
  animation: humming 5000ms infinite linear; }

.circulate .wave._two {
  animation: humming 9000ms infinite linear;
  opacity: 1;
  background: #0f1023; }

.circulate .box:after {
  content: '';
  display: block;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 11;
  transform: translate3d(0, 0, 0); }

.circulate .title {
  position: absolute;
  left: 0;
  top: 20px;
  width: 100%;
  z-index: 1;
  line-height: 30px;
  text-align: center;
  transform: translate3d(0, 0, 0);
  color: white;
  text-transform: uppercase;
  font-family: 'Playfair Display', serif;
  letter-spacing: 0.4em;
  font-size: 24px;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
  text-indent: 0.3em; }

@keyframes humming {
  from {
    transform: rotate(0deg); }
  from {
    transform: rotate(360deg); } }