@font-face{
    font-family: 'Inter';
    src: url(../../Fonts/Inter/otf/Inter-Regular.otf) format('truetype');
  }

.title-steamuser{
    /* position: absolute; */
    /* width: 386px;
    height: 39px;
    left: 31px;
    top: 496px; */
    /* background-color: purple; */

    font-family: 'Inter';
    font-style: normal;
    font-size: 30px;
    font-weight: 500;
    line-height: 39px;
    letter-spacing: 0em;
    text-align: left;
    color: #FFFFFF;
}

.detail-steamuser{
    /* position: absolute; */
    /* width: 265px;
    height: 29px;
    left: 31px;
    top: 536px; */
    /* background-color: red; */

    font-family: 'Inter';
    font-style: normal;
    font-size: 21px;
    font-weight: 400;
    line-height: 29px;
    letter-spacing: 0em;
    text-align: left;
    color: #C4C4C4;
}

.circle1{
    /* position: absolute; */
    width: 250px;
    height: 250px;
    border-radius: 50%;
    top: 589px;
    left: 35px;
    background: #375885;
}

.circlename1{
    /* position: absolute; */
    width: 82px;
    height: 29px;
    /* background-color: sienna; */
    top: 614px;
    left: 119px;

    font-family: 'Inter';
    font-style: normal;
    font-size: 24px;
    font-weight: 400;
    line-height: 29px;
    letter-spacing: 0em;
    text-align: left;
    color: #FFFFFF;
}

.current-users{
    /* position: absolute; */
    /* width: 235px;
    height: 40px; */
    /* background-color: sienna; */
    top: 60px;
    left: 45px;
    /* top-14 left-[2.4em] */

    font-family: 'Inter';
    font-style: normal;
    font-size: 43px;
    font-weight: 600;
    line-height: 29px;
    letter-spacing: 0em;
    text-align: left;
    color: #FFFFFF;
}

.circle2{
    /* position: absolute; */
    width: 250px;
    height: 250px;
    border-radius: 50%;
    top: 589px;
    left: 328px;
    background: #375885;
}

.circlename2{
    /* position: absolute; */
    width: 56px;
    height: 29px;
    /* background-color: sienna; */
    top: 614px;
    left: 425px;

    font-family: 'Inter';
    font-style: normal;
    font-size: 24px;
    font-weight: 400;
    line-height: 29px;
    letter-spacing: 0em;
    text-align: left;
    color: #FFFFFF;
}

.peak-users{
    /* position: absolute; */
    /* width: 235px;
    height: 40px; */
    /* background-color: sienna; */
    /* top: 700px;
    left: 338px; */

    font-family: 'Inter';
    font-style: normal;
    font-size: 43px;
    font-weight: 600;
    line-height: 29px;
    letter-spacing: 0em;
    text-align: left;
    color: #FFFFFF;
}