.home-container {
  position: relative;
  max-width: 1920px;
  height: auto;
}

/* Clear floats after the columns */
.row {
  position: absolute;
  top: 136px;
  left: 64px;
  
  display: grid;
  grid-template-columns: 622px 1200px; 
  max-width: 1920px;
  min-height: 989px;

  background-color: pink;
  /* content: ""; */
  /* clear: both; */
}

.column1 {
  width: 578px;
  min-height: 888px;
  background-color: gray;
}

.column2 {
  width: 1200px;
  min-height: 888px;
  
  /* float: right; */
  /* width: 70%; */
  /* top: 0%; */
  /* height: 500px; */
  background-color: aquamarine;
}