@font-face{
  font-family: 'Inter';
  src: url(../../Fonts/Inter/otf/Inter-Regular.otf) format('truetype');
}

.title-graph{
  /* position: absolute; */
  width: 448px;
  height: 48px;
  /* background-color: green; */
  top: 0px;
  left: 0px;

  font-family: 'Inter';
  font-style: normal;
  font-size: 40px;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: 0em;
  text-align: left;
  color: #FFFFFF;
}

.updated{
  /* position: absolute; */
  width: 312px;
  height: 22px;
  top: 54px;
  left: 1px;
  color: #FFFFFF;
  /* background-color: blue; */

  font-family: 'Inter';
  font-style: normal;
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: left;

}

.stats-box{
  /* position: absolute; */
  width: 578px;
  height: 340px;
  background-color: #000;
  top: 88px;
  /* text-align: center; */
}